.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: #3f51b5;
  }
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearence-legacy .mat-form-field-label {
    color: white !important;
    opacity: 1;
  }
  .mat-form-field-infix {
    border-color: white !important;
    padding-left: 5px !important;
    border-top: none;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
  }
}
.games {
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}
.game {
  box-shadow: 4px 3px 8px 0 #0d6efd;
  background-color: #202020;
  transition-duration: 0.3s;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  height: 330px;
  width: 280px;
  margin: 10px;
  &:hover {
    box-shadow: 4px 3px 11px 6px #0d6efd;
    transform: translateY(-3px);
  }
  &-thumb-container {
    background-color: black;
    position: relative;
    text-align: center;
    color: white;
    height: 172px;
  }
  &-thumbnail {
    position: absolute;
    margin: 0 auto;
    height: 172px;
    right: 0;
    left: 0;
    top: 0;
  }
  &-description {
    justify-content: flex-end;
    flex-direction:  column;
    height: 157px;
    padding: 20px;
    display: flex;
  }
  &-name {
    text-overflow: ellipsis;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
  }
  &-platforms {
    display: flex;
  }
  &-platform {
    width: 20px;
  }
}
